<% remote_form_for :issue, @issue, :url => {:controller => 'issues', :action => 'new', :create => "true", :project_id => @project },
                           :method => :post, :builder => TabularFormBuilder, :lang => current_language,
                           :html => {:multipart => true, :id => 'issue-form', :class => 'tabular'} do |f| %>
    <%= render :partial => 'issues/form', :locals => {:f => f, :update_field => :new_issue, :hide_attachments => true} %>
    <%= send_notification_option %>
    <%= hidden_field_tag "save_and_close", 0 %>
    <div class="submit">
    <%= error_messages_for 'issue' %>
    <%= submit_to_remote 'preview', l(:label_preview), 
                       { :url => { :controller => 'issues', :action => 'preview', :project_id => @project, :id => @issue },
                         :method => 'post',
                         :update => 'preview',
                         :with => "Form.serialize('issue-form')",
                         :complete => "Element.scrollTo('preview')"} %>

    <%= submit_tag(l(:button_save_and_new), :onclick => "setCloseAfterSave(false);") %>
    <%= submit_tag(l(:button_save_and_close), :onclick => "setCloseAfterSave(true);") %>
    <input type="submit" value="Cancel" name="cancel" onclick="tb_remove(); return false;"/>

    </div>

<% end %>

<div id="preview" class="wiki"></div>

<%= javascript_tag('resizeNewIssue()') %>
