  <div id="change-<%= journal.id %>" class="<%= journal.css_classes %>">
    <h4>
      <%= link_to "##{journal.indice}", {:anchor => "note-#{journal.indice}"}, :class => 'history-id' %>
      <div style="float:right; margin-right: 5px;"></div> <%# Used by Question plugin %>
      <%= content_tag('a', '', :name => "note-#{journal.indice}")%>
      <%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %>
      <%= l(:label_entered_by, :who => link_to_user(journal.entered_by)) unless journal.entered_by_author? %>
    </h4>

    <div class="profile-wrap">
      <%= avatar(journal.user, :size => "40") %>
    </div>
    <%= render_notes(journal.issue, journal, :reply_links => reply_links, :indice => journal.indice) unless journal.notes.blank? %>
    <% if journal.details.any? %>
    <ul class="journal-attributes">
    <% for detail in journal.details %>
       <li><%= show_detail(detail) %></li>
    <% end %>
    </ul>
    <% end %>
  </div>
  <%= call_hook(:view_issues_history_journal_bottom, { :journal => journal }) %>

